  <!-- Contact form -->
  <section id="contact" class="section">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <h2 class="title">Contact us</h2>
          <p class="content">Got any questions? Don't hesitate to reach out.</p>
            <form action="https://send.pageclip.co/6VQOCpPadnwmSw4oqnINMl2QKUEbILRk/contact-form" class="pageclip-form" method="post">

            <!-- This will be used in the email's reply-to field. Must have name="email" -->
            <label for="email">Your email</label>
            <input type="email" name="email" value="your email"/>

            <!-- This will be used in the email's subject. Must have name="subject" -->
            <label for="subject">Subject</label>
            <input type="text" name="subject" value="Subject"/>

            <label for="body">Message body</label>
            <textarea name="body">Message body</textarea>

            <button class="pageclip-form__submit" type="button">
                <span>Submit</span>
            </button>
            </form>
        </div>
      </div>
    </div>
  </section>