  <!-- Contact form -->
  <section id="contact" class="section">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half ">
          <h2 class="title has-text-centered">Contact us</h2>
          <p class="subtitle has-text-centered" style="padding-top:10px;">Got any questions? Don't hesitate to reach out.</p>
       <div id="contact-container">
        <form id="contact_form" action="https://send.pageclip.co/6VQOCpPadnwmSw4oqnINMl2QKUEbILRk/contact-form"
            class="pageclip-form" method="post">

            <div class="name">
                <label for="name">Full Name</label>
                <input type="text" placeholder="Fred Armisen" name="name" id="name_input" required>
            </div>
            <div class="email">
                <label for="email">Email Address</label>
                <input type="email" placeholder="fred@mail.com" name="email" id="email_input" required>
            </div>

            <div class="message">
                <textarea name="message" placeholder="Your Message" id="message_input" cols="30" rows="5"
                    required></textarea>
            </div>

            <div class="submit">
                <button id="form_button" class="pageclip-form__submit button is-warning is-rounded button-has-shadow" type="submit">
                    <span>Submit</span>
                </button>
            </div>

        </form>
    </div>
        </div>
      </div>
    </div>
  </section>