<footer class="footer has-background-black" >
      <div class="content has-text-centered has-text-white">
        <div class="columns">
          
          <div class="column">
            <h6 class=" has-text-weight-bold has-text-left" style="color: #ffdd57;">Resources</h6>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-white" href="https://www.oopspam.com/affiliate">Affiliate Program</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/blog">Blog</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/docs">Documentation</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/#faq">FAQ</a></li>
              <li><a class="has-text-white" href="https://status.oopspam.com/">Status</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/#contact">Contact us</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/about">👋 About</a></li>
            </ul>
          </div>
           <div class="column">
            <a  href="/tools/"><h6 class=" has-text-weight-bold has-text-left" style="color: #ffdd57;">Free Tools</h6></a>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-white" href="https://www.oopspam.com/tools/spam-words-checker">Spam Words Checker</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/tools/domain-reputation-checker">Domain Reputation Checker</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/tools/disposable-email-checker">Disposable Email and Domain Checker</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/tools/report-ip">Find out where to report an IP?</a></li>
            </ul>
          </div>

          <div class="column">
            <a  href="/compare/"><h6 class=" has-text-weight-bold has-text-left" style="color: #ffdd57;">How We Compare</h6></a>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-white" href="https://www.oopspam.com/akismet-alternative">Alternative to Akismet</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/recaptcha-alternative">Alternative to reCAPTCHA</a></li>
             <li><a class="has-text-white" href="https://www.oopspam.com/hcaptcha-alternative">Alternative to hCAPTCHA</a></li>
             <li><a class="has-text-white" href="https://www.oopspam.com/turnstile-alternative">Alternative to Turnstile</a></li>
               <li><a class="has-text-white" href="https://www.oopspam.com/cleantalk-alternative">Alternative to CleanTalk</a></li>
               
            </ul>
          </div>

          <div class="column">
                  <h6 class="has-text-weight-bold has-text-left" style="color: #ffdd57;">Integrations</h6>    
                  <ul class="has-text-left" style="list-style-type:none; margin:0;">
                    <li><a class="has-text-white"  href="https://www.oopspam.com/wordpress">WordPress</a></li>
                    <li><a class="has-text-white" href="https://www.oopspam.com/anti-spam-filter-for-gravity-forms">Gravity Forms</a></li>
                  <li><a class="has-text-white" href="https://www.oopspam.com/anti-spam-filter-for-ninja-forms">Ninja Forms</a></li>
                  <li><a class="has-text-white" href="https://www.oopspam.com/spam-filter-for-contactform7">Contact Form 7</a></li>
                  <li><a class="has-text-white" href="https://www.oopspam.com/blog/spam-protection-for-elementor-forms">Elementor Forms</a></li>
                  <li><a class="has-text-white" href="https://www.oopspam.com/integrations/">View all integrations</a></li>
                  </ul>
          </div>

          <div class="column">
            <h6 class="has-text-weight-bold has-text-left" style="color: #ffdd57;">Legal</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-white" href="https://www.oopspam.com/terms">Terms of use</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/privacypolicy">Privacy Policy</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/gdpr">GDPR Compliance</a></li>
              <li><a class="has-text-white" href="https://www.oopspam.com/dpa">Data Processing Agreement</a></li>
            </ul>
          </div>

        </div>
      </div>
   
    </footer>
    <div class="has-background-black has-text-white bottom">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <p class="has-text-white">© 2017 - 2024 OOPSpam LLC</p>
          </div>
          <div class="column has-text-right" style="display: flex;
  align-items: center; justify-content: end;">
             <a class="p-1" href="https://twitter.com/oopspamapi">
                            <img  src="/assets/x-logo.svg" alt="x logo">
                            </a>
                            <a class="p-1"  href="https://github.com/OOPSpam">
                            <img src="/assets/github-circle.svg" alt="github logo">
                            </a>
                            <a class="p-1"  href="https://wordpress.org/plugins/oopspam-anti-spam/">
                            <img src="/assets/wordpress.svg" alt="wordpress logo">
            </a>
          </div>
        </div>
      </div>
    </div>