<footer class="footer has-background-dark">
      <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column"></div>
          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">About Us</h6>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a href="terms&conditions.html">Terms</a></li>
              <li><a href="privacypolicy.html">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Important</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a href="terms&conditions.html">Terms</a></li>
              <li><a href="privacypolicy.html">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="column"></div>

        </div>
      </div>
    </footer>
    <div class="has-background-dark has-text-white bottom">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <p>© 2021 OOPSpam</p>
          </div>
          <div class="column has-text-right">
             <a href="https://twitter.com/oopspamapi">
                            <img src="/assets/twitter-circle.svg" alt="twitter logo">
                            </a>
                            <a href="https://github.com/OOPSpam">
                            <img src="/assets/github-circle.svg" alt="github logo">
                            </a>
                            <a href="https://wordpress.org/plugins/oopspam-anti-spam/">
                            <img src="/assets/wordpress.svg" alt="wordpress logo">
            </a>
          </div>
        </div>
      </div>
    </div>