<footer class="footer has-background-dark" style="margin-top:2em;">
      <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column"></div>
          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Resources</h6>
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="/blog">Blog</a></li>
              <li><a class="has-text-warning" href="/docs">Documentation</a></li>
              <li><a class="has-text-warning" href="./#faq">FAQ</a></li>
              <li><a class="has-text-warning" href="https://status.oopspam.com">Status</a></li>
              <li><a class="has-text-warning" href="./#contact">Contact us</a></li>
            </ul>
          </div>

          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">How we compare</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="akismet-alternative.html">Alternative to Akismet</a></li>
              <li><a class="has-text-warning" href="recaptcha-alternative.html">Alternative to reCAPTCHA</a></li>
            </ul>
          </div>

     <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Integration</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="https://wordpress.org/plugins/oopspam-anti-spam/">OOPSpam for WordPress</a></li>
              <li><a class="has-text-warning" href="anti-spam-filter-for-gravity-forms.html">OOPSpam for Gravity Forms</a></li>
             <li><a class="has-text-warning" href="anti-spam-filter-for-ninja-forms.html">OOPSpam for Ninja Forms</a></li>
             <li><a class="has-text-white" href="./#contact">📣Let us know your integration</a></li>
            </ul>
          </div>

          <div class="column">
            <h6 class="has-text-white is-bold has-text-left">Legal</h6>    
            <ul class="has-text-left" style="list-style-type:none; margin:0;">
              <li><a class="has-text-warning" href="terms&conditions.html">Terms of use</a></li>
              <li><a class="has-text-warning" href="privacypolicy.html">Privacy Policy</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
    <div class="has-background-dark has-text-white bottom">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <p>© 2021 OOPSpam</p>
          </div>
          <div class="column has-text-right">
             <a href="https://twitter.com/oopspamapi">
                            <img src="/assets/twitter-circle.svg" alt="twitter logo">
                            </a>
                            <a href="https://github.com/OOPSpam">
                            <img src="/assets/github-circle.svg" alt="github logo">
                            </a>
                            <a href="https://wordpress.org/plugins/oopspam-anti-spam/">
                            <img src="/assets/wordpress.svg" alt="wordpress logo">
            </a>
          </div>
        </div>
      </div>
    </div>