<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="36e091c4-1a19-426d-a99c-979131f7fa04";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a077b3ac05bbfee5da816cd2f/495051715f7cd48fb5fdfea48.js");</script>
