<script async src="https://cdn.tolt.io/tolt.js" data-tolt="eb76ab36-57d2-4c20-ba2f-92eec10234a9"></script>
{#- Site-wide structured data. A page can add the product (SoftwareApplication) entry with
    {% set softwareApp = true %} before it includes this file. Canonical tags and FAQPage data
    are added by the gulp build (see gulpfile.js). -#}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://www.oopspam.com/#organization",
      "name": "oopspam",
      "url": "https://www.oopspam.com/",
      "logo": "https://www.oopspam.com/assets/oopspamLogo.svg",
      "sameAs": [
        "https://wordpress.org/plugins/oopspam-anti-spam/",
        "https://www.trustpilot.com/review/oopspam.com",
        "https://twitter.com/oopspamapi",
        "https://github.com/OOPSpam",
        "https://www.linkedin.com/company/oopspam/"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://www.oopspam.com/#website",
      "url": "https://www.oopspam.com/",
      "name": "oopspam",
      "publisher": { "@id": "https://www.oopspam.com/#organization" }
    }{% if softwareApp %},
    {
      "@type": "SoftwareApplication",
      "@id": "https://www.oopspam.com/#software",
      "name": "oopspam Anti-Spam",
      "description": "Server-side spam and fraud detection for forms, comments, sign-ups and WooCommerce orders. No CAPTCHA, no logs by default.",
      "url": "https://www.oopspam.com/",
      "applicationCategory": "SecurityApplication",
      "operatingSystem": "Web, WordPress",
      "publisher": { "@id": "https://www.oopspam.com/#organization" },
      "offers": {
        "@type": "AggregateOffer",
        "priceCurrency": "USD",
        "lowPrice": "0",
        "highPrice": "259",
        "offerCount": "5",
        "url": "https://www.oopspam.com/#pricing"
      }
    }{% endif %}
  ]
}
</script>
