 <section class="section" style="padding-bottom:2rem;padding-right: 0;padding-left: 0; background-color:inherit;">
    <div class="notification is-warning" style="margin-bottom: 0;padding-bottom: 10px;padding-top: 10px;text-align: center;">
      🔥 New! Direct access to the API instead of <a href="https://rapidapi.com/oopspam/api/oopspam-spam-filter">RapidAPI</a>? Try <a href="https://app.oopspam.com">OOPSpam Dashboard [beta]</a>.
    </div>
    <div class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/assets/oopspamLogo.svg" alt="OOPSpam logo" width="112" height="28">
          </a>
          <a id="navbarBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navigation-bar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navigation-bar" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <a href="/docs" class="navbar-item has-text-white">
              Docs
           </a>
            <a href="./#pricing" class="navbar-item has-text-white">
              Pricing
            </a>
            <a href="./#faq" class="navbar-item has-text-white">
              FAQ
            </a>
            <a href="/blog" class="navbar-item has-text-white">Blog</a>
            <a href="./#contact" class="navbar-item has-text-white">
              ✉️ Contact
            </a>
            <div class="navbar-item">
            <a href="https://app.oopspam.com/Identity/Account/Register" class="button is-warning is-outlined">
              Sign Up
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>