 <!-- Newsletter subscribtion -->
  <section id="newsletter" class="section">
    <div class="container">
      <div class="columns ">
        <div class="column has-text-centered is-flex-direction-column is-flex is-align-items-center">
          <h2 class="title">Stay in the loop!</h2>
          <p class="content">Get an email once or twice in a month from us about improvements and blog posts.</p>

<link rel="stylesheet"
      href="https://emailoctopus.com/bundles/emailoctopuslist/css/1.6/form.css"
>
<div class="emailoctopus-form-wrapper emailoctopus-form-centered emailoctopus-form-wrapper-large"
     style="font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; color: rgb(26, 26, 26);"
>
  <p class="emailoctopus-success-message">
  </p>
  <p class="emailoctopus-error-message">
  </p>
  <form action="https://emailoctopus.com/lists/e4b5793a-a337-11eb-a3d0-06b4694bee2a/members/embedded/1.3/add"
        method="post"
        data-message-success="Thanks for subscribing!"
        data-message-missing-email-address="Your email address is required."
        data-message-invalid-email-address="Your email address looks incorrect, please try again."
        data-message-bot-submission-error="This doesn't look like a human submission."
        data-message-consent-required="Please check the checkbox to indicate your consent."
        data-message-invalid-parameters-error="This form has missing or invalid fields."
        data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
        class="emailoctopus-form"
  >
    <div class="emailoctopus-form-row">
      <label for="field_0" class="pb-2">
        Email address
      </label>
      <input id="field_0"
             name="field_0"
             type="email"
             placeholder
             required="required"
      >
    </div>
    <div aria-hidden="true"
         class="emailoctopus-form-row-hp"
    >
      <input type="text"
             name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
             tabindex="-1"
             autocomplete="nope"
      >
    </div>
    <div class="emailoctopus-form-row-subscribe">
      <input type="hidden"
             name="successRedirectUrl"
      >
      <button type="submit" class="has-text-weight-normal is-flex button is-warning is-rounded button-has-shadow is-bg-orange"
              style="border-style: none !important; border-radius: 290486px !important; "
      >
        Subscribe
      </button>
    </div>
  </form>
</div>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js">
</script>

        </div>
      </div>
    </div>
  </section>