<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/alternative.min.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="See how OOPSpam stacks up against other spam protection systems and compare pricing, features and more.">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/tools/"/>
  <meta name="og:title" content="Compare OOPSpam alternatives" />
  <meta name="og:description" content="See how OOPSpam stacks up against other spam protection systems and compare pricing, features and more." />
  <meta name="og:image" content="https://www.oopspam.com/assets/meta_oopspam.png" />

  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
  <title>Compare OOPSpam alternatives</title>
  {% include "partials/headScript.njk" %}
</head>

<body class="alternative">
 {% include "partials/navigation.njk" %}
 <img alt="" width="100%" src="/assets/alternative/lp-top.svg"/>
  <!-- The Main (Intro) Section -->
  <section id="main" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <!-- full column -->
          <div class="column is-full has-text-centered">
            <div class="content" style="color:black; font-size:16px;">
                <h1 class="title">Compare OOPSpam alternatives</h1>
            <p class="has-text-weight-light is-size-5 content">See how OOPSpam stacks up against other spam protection systems and compare pricing, features and more.</p>
            </div>
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column">
                    <a class="button has-text-black is-medium is-warning is-rounded is-size-6-mobile"
                      href="https://app.oopspam.com/">
                      Get Started for free →
                    </a>
                   <p style="padding-top: 1em;">✓ No credit card required ✓ Cancel anytime</p>
                  </div>
                 
                 <div class="column"></div>
                </div>
               
              </div>
              
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="compare" class="section">
    <div class="columns is-centered is-vcentered">
      <div class="column">
        <div class="columns">
          <div class="column"></div>
          <div class="column has-text-centered" style="display: flex;
          flex-direction: column;
          gap: 30px;">
          <h2 class="is-size-3">
            <a class=" is-medium is-rounded is-size-6-mobile"
              href="../akismet-alternative">
              Akismet
            </a>
          </h2>
          <h2 class="is-size-3">
            <a class=" is-medium is-rounded is-size-6-mobile" 
            href="../cleantalk-alternative">
            CleanTalk
          </a></h2>
          <h2 class="is-size-3">
            <a class=" is-medium  is-rounded is-size-6-mobile" 
          href="../recaptcha-alternative">
          reCaptcha
        </a></h2>
        <h2 class="is-size-3">
          <a class=" is-medium  is-rounded is-size-6-mobile" 
        href="../hcaptcha-alternative">
        hCaptcha
      </a></h2>
      <h2 class="is-size-3">
        <a class=" is-medium  is-rounded is-size-6-mobile" 
      href="../turnstile-alternative">
      Turnstile
    </a></h2>
          </div>
         
         <div class="column"></div>
        </div>
       
      </div>
      

    </div>
  </section>
    <!-- Join to OOPSpam -->
    <section id="get-started" class="section" style="background-color: rgb(255, 221, 87);">
        <div class="container">
          <div class="columns is-vcentered is-centered">
            <div class="column is-half has-text-centered">
              <p class="title has-text-black">Accessible, privacy-friendly spam filter to protect your business from abuse</p>
              <div class="content">
                  <a class="button is-medium is-default is-rounded button-has-shadow is-size-6-mobile"
                    href="https://app.oopspam.com/Identity/Account/Register">
                    Get started with free spam checks
                  </a>
                </div>
            </div>
          </div>
        </div>
      </section>

  {% include "partials/footer.njk" %}
  {% include "partials/footerScript.njk" %}
</body>
</html>