<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/alternative.min.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Tools to help you protect yourself from spam, check your domain and IP reputation, and more.">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/tools/"/>
  <meta name="og:title" content="Free tools - OOPSpam" />
  <meta name="og:description" content="Tools to help you protect yourself from spam, check your domain and IP reputation, and more." />
  <meta name="og:image" content="https://www.oopspam.com/assets/meta_oopspam.png" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>Free tools</title>
  {% include "partials/headScript.njk" %}
</head>

<body class="alternative">
 {% include "partials/navigation.njk" %}
 <img width="100%" src="/assets/alternative/lp-top.svg"/>
  <!-- The Main (Intro) Section -->
  <section id="main" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <!-- full column -->
          <div class="column is-full has-text-centered">
            <div class="content" style="color:black; font-size:16px;">
                <h1 class="title">OOPSpam's Free Tools</h1>
            <p class="has-text-weight-light is-size-5 content">Tools to help you protect yourself from spam, check your domain and IP reputation, and more.</p>
            </div>
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column">
                    <iframe src="https://spam-word-checker.apps.oopspam.com/" width="100%" height="800px" frameborder="0"></iframe>
                  </div>
                 
                 <div class="column"></div>
                </div>
               
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/footer.njk" %}
  {% include "partials/footerScript.njk" %}
</body>
</html>