<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/alternative.min.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Highly accurate and privacy-friendly OOPSpam Anti-Spam WordPress plugin to filter spam from Gravity Forms and the comments">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/anti-spam-filter-for-gravity-forms.html" />
  <meta name="og:title" content="A Better Spam Filter for Gravity Forms" />
  <meta name="og:description"
    content="Highly accurate and privacy-friendly OOPSpam Anti-Spam WordPress plugin to filter spam from Gravity Forms and the comments" />
  <meta name="og:image" content="https://www.oopspam.com/assets/gf-oopspam-wordpress-plugin.jpg" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>A Better Spam Filter for Gravity Forms</title>
  {% include "partials/headScript.njk" %}
</head>

<body class="alternative">
  {% include "partials/navigation.njk" %}
  <!-- The Main (Intro) Section -->
  <section id="main" class="hero bg-wave">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <!-- full column -->
          <div class="column is-full has-text-centered">
            <div class="content" style="color:black; font-size:16px;">
              <h1 class="title">Never see spam from your Gravity Forms</h1>
              <p class="has-text-weight-light is-size-5 content">OOPSpam WordPress plugin protects your Gravity Forms & comments from spam.</p>
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div
                      class="card-content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                      <img width="64" height="64" loading="lazy" src="/assets/aim.png" />
                      <h2>Accurate</h2>
                      <small>Protecting over 300K websites in diverse industries daily with %99.9 accuracy.</small>
                    </div>
                  </div>

                </div>

                <div class="column">
                  <div class="card">
                    <div
                      class="card-content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                      <img width="64" height="64" loading="lazy" src="/assets/score.png" />
                      <h2>Spam Score</h2>
                      <small>Don't miss a single opportunity. Adjust aggressiveness of spam filtering.</small>
                    </div>
                  </div>


                </div>
                <div class="column">
                  <div class="card">
                    <div
                      class="card-content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                      <img width="64" height="64" loading="lazy" src="/assets/vision.png" />
                      <h2>Accessibility</h2>
                      <small>No challenge to solve or no performance penalty. Fast and accessible.</small>
                    </div>
                  </div>


                </div>
                <div class="column">
                  <div class="card">
                    <div
                      class="card-content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                      <img width="64" height="64" loading="lazy" src="/assets/icons8-privacy-100.png" />
                      <h2>Privacy</h2>
                      <small>We don't store or see your data. Every submission stays on your website.</small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column has-text-centered">
                    <a class="button is-medium is-warning is-rounded is-size-6-mobile"
                      href="https://app.oopspam.com/Identity/Account/Register">
                      Get an API key →
                    </a>
                  </div>
                  <div class="column has-text-centered">
                    <a class="button is-medium is-warning is-rounded is-size-6-mobile"
                      href="https://wordpress.org/plugins/oopspam-anti-spam/">
                      Get OOPSpam Anti-Spam plugin→
                    </a>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- detailed-spam-score section -->
  <section id="detailed-spamscore" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-spaced">High Accuracy</h2>
          <div class="content subtitle">
            We detect with 99.9% accuracy. You can even control how aggressive you want your spam filter to be with the
            Sensitivity level setting so that you don't miss any opportunities.
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img loading="lazy" src="assets/WP_SensitivyLevel.jpg" alt="OOPSpam Spam Score in WordPress plugin setting">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="columns" style="padding:0.7em;">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img class="is-rounded" src="/assets/Vu.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <span>Vu Nguyen</span> <strong>@ Nilead.com</strong>
                <br>
                We tried various methods including but not limited to <i>Captcha, Honeypot,</i> ... but there were still
                a number of spam messages that got passed our system. We found OOPSpam and started using it from the
                early day, and has helped us (and our clients) to flag many spam messages correctly. The support is very
                responsive to our requests and feedback. <strong>We strongly recommend OOPSpam for anyone who values
                  their time and resources</strong>.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="column"></div>
  </div>
  <section id="detailed-spamscore" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img loading="lazy" src="/assets/country-language-filter.png" alt="OOPSpam Country and Language Restrictions in WordPress plugin setting">
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <h2 class="title is-spaced">Country and Language Restrictions</h2>
          <div class="content subtitle">
            Keep your Gravity Forms submissions clear from spam by allowing messages only from your target audience. Use country and language filters to stop spam messages from ever reaching you.
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <!-- unlimited-websites section -->
  <section id="unlimited-websites" class="section">
    <div class=" container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-spaced">Use one API key for unlimited websites</h2>
          <div class="content subtitle">
            Get an API key and use the OOPSpam WordPress plugin on unlimited websites. We don't
            charge per site so you have one less thing to keep track off.
          </div>
        </div>
        <div class="column is-half has-text-centered">
          <img loading="lazy" src="assets/unlimitedWebsiteIcon.png" alt="">
        </div>
        
      </div>
    </div>
  </section>
  <!-- Privacy-first section -->
  <section id="privacy" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <img loading="lazy" src="assets/privacyIcon.png" alt="">
        </div>
        <div class="column is-half">
          <h2 class="title is-spaced">Privacy-friendly spam filter</h2>
          <div class="content subtitle">
            OOPSpam Anti-Spam is GDPR compliant and uses only minimal data. We don't store, share or track your users.
          </div>
        </div>
       
      </div>
    </div>
  </section>

  <!-- support section -->
  <section id="support" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-spaced">24/7 customer support</h2>
          <div class="content subtitle">
            <p>
              We reply fast. <a href="/#contact">Contact us</a> for any questions or concerns.
            </p>
          </div>
        </div>
        <div class="column is-half">
          <img loading="lazy" src="assets/support.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- get started -->
  <section id="get-started" class="section has-background-grey-lighter">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <p class="title">Your search for Gravity Forms spam protection is over</p>
          <div class="content">
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column has-text-centered">
                    <a class="button is-medium is-warning is-rounded is-size-6-mobile"
                      href="https://app.oopspam.com/Identity/Account/Register">
                      Get an API key→
                    </a>
                  </div>
                  <div class="column has-text-centered">
                    <a class="button is-medium is-warning is-rounded is-size-6-mobile"
                      href="https://wordpress.org/plugins/oopspam-anti-spam/">
                      Get OOPSpam Anti-Spam plugin→
                    </a>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "partials/newsletter.njk" %}
  {% include "partials/footer.njk" %}
  {% include "partials/footerScript.njk" %}
</body>

</html>