<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/alternative.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="A new generation, highly accurate OOPSpam Anti-Spam WordPress plugin to filter Ninja Forms and comment system spam.">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/anti-spam-filter-for-Ninja-forms.html" />
  <meta name="og:title" content="A Better Anti-Spam Filter for Ninja Forms" />
  <meta name="og:description"
    content="A new generation, highly accurate OOPSpam Anti-Spam WordPress plugin to filter Ninja Forms and comment system spam." />
  <meta name="og:image" content="https://www.oopspam.com/assets/nj-oopspam-wordpress-plugin.jpg" />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link href=’https://fonts.googleapis.com’ rel=’preconnect’ crossorigin="anonymous">
  <title>A Better Anti-Spam Filter for Ninja Forms</title>
  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    !function () {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('m57ine8eus26');
  </script>
  <!-- End of Async Drift Code -->
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a077b3ac05bbfee5da816cd2f/495051715f7cd48fb5fdfea48.js");</script>
</head>

<body>
 {% include "partials/navigation.njk" %}

  <!-- The Main (Intro) Section -->
  <section id="main" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <!-- full column -->
          <div class="column is-full has-text-centered">
            <div class="content" style="color:black; font-size:16px;">
              <h1>Never see spam from your Ninja Forms</h1>
            </div>
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column">
                    <a class="button is-medium is-warning is-rounded"
                      href="https://rapidapi.com/oopspam/api/oopspam-spam-filter/">
                      Get an API key now→
                    </a>
                  </div>
                  <div class="column">
                    <a class="button is-medium is-warning is-rounded"
                      href="https://wordpress.org/plugins/oopspam-anti-spam/">
                      Get OOPSpam Anti-Spam WordPress plugin→
                    </a>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-full">
            <div class="content is-medium has-text-centered">
              <p>
                OOPSpam Anti-Spam uses modern techniques such as machine learning </br> and other <a
                  href="/#measurements">advanced</a> algorithms to fight spam from your contact form and comment
                systems.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- detailed-spam-score section -->
  <section id="detailed-spamscore" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-spaced">High Accuracy</h2>
          <div class="content subtitle">
            We detect with 99% accuracy. You can even control how aggressive you want your spam filter to be with the
            Sensitivity level setting so that you don't miss any opportunities.
          </div>
        </div>
        <div class="column is-half">
          <img src="assets/WP_SensitivyLevel.png" style="border: 2px solid black;" alt="Sensitivy Level setting">
        </div>
      </div>
    </div>
  </section>
  <!-- unlimited-websites section -->
  <section id="unlimited-websites" class="section">
    <div class=" container">
    <div class="columns is-vcentered">
      <div class="column is-half has-text-centered">
        <img src="assets/unlimitedWebsiteIcon.png" alt="">
      </div>
      <div class="column is-half">
        <h2 class="title is-spaced">Use one API key for unlimited websites</h2>
        <div class="content subtitle">
          Get an API key and use the plugin on unlimited websites. Start with $19 instead of $50 per month. We don't
          charge per site usage no matter you are a business or a freelancer with multiple websites.
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Privacy-first section -->
  <section id="privacy" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-spaced">Privacy-friendly anti-spam filter</h2>
          <div class="content subtitle">
            OOPSpam Anti-Spam is GDPR compliant and uses only minimal data. It doesn't need your server, website details
            and doesn't track your visitors.
          </div>
        </div>
        <div class="column is-half">
          <img src="assets/privacyIcon.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- support section -->
  <section id="support" class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <img src="assets/support.png" alt="">
        </div>
        <div class="column is-half">
          <h2 class="title is-spaced">24/7 customer support</h2>
          <div class="content subtitle">
            <p>
              We reply fast. <a href="mailto:contact@oopspam.com">Email us</a> for any questions or concerns.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- get started -->
  <section id="get-started" class="section has-background-grey-lighter">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <p class="title">Your search for Ninja Forms spam protection is over</p>
          <div class="content">
            <div class="columns is-centered is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column">
                    <a class="button is-medium is-warning is-rounded"
                      href="https://rapidapi.com/oopspam/api/oopspam-spam-filter/">
                      Get an API key now→
                    </a>
                  </div>
                  <div class="column">
                    <a class="button is-medium is-warning is-rounded"
                      href="https://wordpress.org/plugins/oopspam-anti-spam/">
                      Get OOPSpam Anti-Spam WordPress plugin→
                    </a>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Newsletter subscribtion -->
  <section id="newsletter" class="section">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <p class="title">Stay in the loop!</p>
          <form
            action="https://oopspam.us12.list-manage.com/subscribe/post?u=a077b3ac05bbfee5da816cd2f&amp;id=e0a1de4cff"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="field is-grouped">
              <div class="control is-expanded">
                <input type="email" value="" name="EMAIL" class="email input is-rounded" id="mce-EMAIL"
                  placeholder="email address" required>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_a077b3ac05bbfee5da816cd2f_e0a1de4cff" tabindex="-1" value="">
              </div>
              <div class="control">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button is-warning is-rounded">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include "partials/footer.njk" %}
 <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "3b790ba0ac554400a51b9371382ef393"}'></script><!-- End Cloudflare Web Analytics -->
  <script async src="/scripts/app.min.js"></script>
</body>

</html>