<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/main.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="OOPSpam is fully compliant with GDPR. Here we explain how GDPR affects you as an anti spam filter and how we help.">
    <meta property="og:description"
        content="OOPSpam is fully compliant with GDPR. Here we explain how GDPR affects you as an anti spam filter and how we help.">
    <meta name="twitter:description"
        content="OOPSpam is fully compliant with GDPR. Here we explain how GDPR affects you as an anti spam filter and how we help.">
    <meta name="og:image" content="https://www.oopspam.com/assets/oopspam-og-image.png" />
    <meta name="twitter:image" content="https://www.oopspam.com/assets/oopspam.png" />
    <meta property="og:title" content="GDPR | OOPSpam Anti-Spam API">
    <meta name="twitter:title" content="GDPR | OOPSpam Anti-Spam API">
    <title>GDPR | OOPSpam Anti-Spam API</title>
    {% include "partials/headScript.njk" %}
</head>

<body>
    {% include "partials/navigation.njk" %}

    <section class="section">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="container">

                    <h2 class="title has-text-centered" style="padding-bottom:20px;">Data Protection / GDPR Notice</h2>
                    <h4 class="subtitle has-text-centered">How OOPSpam can help you comply with the General Data
                        Protection Regulation</h4>
                    <div class="content">
                        <p>The General Data Protection Regulation (GDPR) is European Union legislation to strengthen and
                            unify data protection laws for all individuals within the European Union. The regulation
                            came into effect from May 25th, 2018.</p>
                        <p>At OOPSpam LLC, we are committed to being transparent with our customers regarding our
                            privacy practices and complying with all applicable privacy laws and regulations, such
                            as the European Union (EU) General Data Protection Regulation (GDPR). We value your
                            trust and are dedicated to protecting your privacy.</p>
                        <p>This page lays out our commitment to data protection and makes transparent what data we store
                            about our users.</p>
                        <h2 id="what-data-do-we-collect">What data do we collect?</h2>
                        <h3 id="on-our-website">On our website:</h3>
                        <p>Our website (as opposed to our web OOPSpam APIs) is hosted by <a
                                href="https://www.github.com/">GitHub</a> in the United States.</p>
                        <p>On our website, we use Cabin to help us understand, in anonymized form, how
                            the site is being used. Here is <a
                                href="https://withcabin.com/privacy">Cabin Privacy Policy</a>.</p>
                        <p>Our dashboard and account details are hosted by DigitalOcean in the United States. <a
                                href="https://www.digitalocean.com/legal/privacy-policy">DigitalOcean privacy
                                policy</a>.</p>
                        <p>When registering for our free trial, you need to provide us with a valid email address. We
                            then confirm that the address works by emailing you a confirmation link. All transactional
                            emails including Forgot Password emails are sent by using Postmark. <a
                                href="https://postmarkapp.com/privacy-policy">Postmark privacy policy</a>. You can find
                            Postmark <a href="https://postmarkapp.com/eu-privacy#gdpr">GDPR compliance notice here</a>.
                        </p>
                        <p>We also need an email address so we can contact you regarding any changes to our service or,
                            for example, to this privacy policy. We send the email to you via the email delivery service
                            EmailOctopus, here is <a href="https://emailoctopus.com/legal/privacy">EmailOctopus privacy
                                policy</a>. </p>
                        <p>As you may have noticed on our dashboard and the documentation page, we use a chat widget to
                            answer questions and talk to our users in real-time. This chat widget is powered by <a
                                href="https://crisp.chat/">Crisp</a>. Here is <a
                                href="https://crisp.chat/en/privacy/">Crisp privacy Policy</a>.</p>
                        
                        <p>Registering for a free trial requires acceptance of our publicly available <a
                                href="https://www.oopspam.com/terms&amp;conditions">terms &amp; conditions</a>.</p>
                        <h3 id="on-our-apis">On our APIs:</h3>
                        <p>Our API servers are hosted with <a href="https://www.fly.io/">Fly.io</a> a US-based cloud
                            provider. <a href="https://fly.io/legal/privacy-policy/">Fly.io privacy policy</a>.</p>
                        <p>We user API Gateway to rate-limit API usage. API Gateway keeps meta log of your requests so that
                            it knows how many requests you made. We do not store request bodies.</p>
                        <h2 id="customerfinancial-transaction-information">Customer/Financial transaction information:
                        </h2>
                        <p>If you become a paying customer (as opposed to just using our free trial) you will need to
                            provide us and our payment partner (Paddle) with valid billing information. We will be able
                            to see your name, billing address, email address, and VAT number (if you have provided one).
                            We are not able to see your credit card number, only Paddle has access to that.</p>
                        <p>As any business, we of course share transaction data with our accountants and with the
                            relevant tax authorities when we pay VAT and file our annual tax return.</p>
                        <p>We also use <a href="https://www.profitwell.com/">ProfitWell</a> for subscription analytics:
                            understanding our growth, churn, and all kinds of financial metrics. ProfitWell is directly
                            connected to Paddle, so they have access to customer billing history.</p>
                        <ul>
                            <li><a href="https://stripe.com/en-fr/privacy">Paddle privacy policy</a></li>
                            <li><a href="https://www.profitwell.com/gdpr">ProfitWell GDPR policy</a></li>
                        </ul>
                        <h2 id="data-processing-agreement" tabindex="-1">Data Processing Agreement</h2>
                        <p>Becoming a customer of our service implies acceptance of our <a
                                href="/dpa">Data Processing Agreement</a>, unless otherwise
                            explicitly agreed with us in writing.</p>
                        <h2 id="data-deletion">Data deletion</h2>
                        <p>Any user (paid or free-trial) can request to have their account deleted at any time, this can
                            be done by visiting <a
                                href="https://app.oopspam.com/Identity/Account/Manage/PersonalData">the Personal Data
                                page</a> on our dashboard. For paying customers we of course have to keep records of all
                            completed transactions for tax purposes.</p>
                        <h2 id="stay-informed">Stay informed</h2>
                        <p>Meaningful changes to this document will be announced on our Twitter account and via email.
                        </p>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h5 class="has-text-weight-normal">Have Questions?</h5>
                    <hr>
                    <p>If you have questions about GDPR compliant or anything else about OOPSpam, please don't hesitate
                        to contact us:</p>
                    <p>
                        OOPSpam LLC <br>
                        2000 Old West Main St, <br>
                        Red Wing, MN <br>
                        USA <br>
                        <a href="https://www.oopspam.com/#contact">Contact us</a>
                    </p>

                </div>
            </div>
        </div>
    </section>


    {% include "partials/footer.njk" %}
    {% include "partials/footerScript.njk" %}


</body>

</html>