<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/bulma-pricingtable.min.css" />
  <link rel="stylesheet" href="/styles/main.min.css" />
  <link rel="stylesheet" href="/styles/contact.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Stop bots and manual spam from reaching you or your customer. All with high accuracy and privacy.">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@oopspamapi" />
  <meta property="og:url" content="https://www.oopspam.com/integrations/" />
  <meta name="og:title" content="Integrations | OOPSpam: Accessible And Privacy Friendly Spam Protection" />
  <meta name="og:description" content="Stop bots and manual spam from reaching you or your customer. All with high accuracy and privacy. " />
  <meta name="og:image" content="https://www.oopspam.com/assets/meta_oopspam.png" />
  <meta name="twitter:image" content="https://www.oopspam.com/assets/meta_oopspam_tw.png" />
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
  <title>Integrations | OOPSpam: Accessible And Privacy Friendly Spam Protection</title>
  {% include "partials/headScript.njk" %}
  <style>
  .box:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0,0,0,.15) 0px 3px 10px;
  }
  a {
    background-image: none;
  }
</style>
</head>

<body>
<div class="app-container">
    {% include "partials/navigation.njk" %}

<main class="app-content">
  <!-- is-hidden -->
<section id="notify" class="is-hidden">
<div class="notification has-text-black" style="padding-bottom:0.8rem; text-align: center; background-color: #fcdc56;">
  </div>
</section>

  <!-- The Main Section -->
  <section id="main" class="section" style="background-color: #FBFBED;">    
      <div class="container has-text-centered is-fluid px-0">
        <div class="columns is-vcentered">
       
          <div class="column is-5 has-text-left is-5-fullhd is-offset-1-fullhd p-auto">
           
            <div class="content is-flex is-flex-direction-column mb-0">
              <h1 class="title has-text-black is-flex is-flex-direction-row  is-flex-wrap-nowrap is-size-4  has-text-weight-bold mb-0" 
              style="font-family: 'Playfair Display',serif;">         
            Integrations.
              </h1>
              <p class="has-text-black subtitle my-5" >
                Connect with over 6,000 popular apps and software to improve productivity, automate workflows and free up time to focus on the work that matters.
              </p>
            </div>
                   </div>
       
                   <div class="column">
                    <img class="" loading="lazy" src="/assets/IntegrationsMain.svg" alt="OOPSpam Integration illustration">
               </div>

        </div>
      </div>
    
  </section>
  
<section class="section">
<div class="container">
  
  <div class="columns">
    <div class="column "></div>
    <div class="column is-10">
      <div class="mb-5">
        <h2 class="is-size-5 my-5">Featured integrations</h2>
        <div class="columns is-multiline">
          <div class="column  is-one-third ">
            <div class="box">
              <a tabindex="0" href="../wordpress">
                <article class="media" height="320px">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="/assets/Wordpress-logo.png" alt="Wordpress logo" icon/>
                    </figure>
                  </div>
                  <div class="media-content is-clipped" style="display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical; height: 160px;">
                    <div class="content">
                      <p>
                        <strong>WordPress</strong> <span class="tag is-success is-light">official</span>
                      <p>The official WordPress plugin by OOPSpam Team. Add accessible, privacy-friendly spam protection to your WordPress website.</p>
                      </p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
          <div class="column  is-one-third ">
            <div class="box">
              <a tabindex="0" href="https://www.make.com/en/integrations/oopspam-anti-spam">
                <article class="media" height="320px">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="/assets/make.png" alt="Make.com logo" icon/>
                    </figure>
                  </div>
                  <div class="media-content is-clipped" style="display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical; height: 160px;">
                    <div class="content">
                      <p>
                        <strong>Make</strong> <span class="tag is-success is-light">official</span>
                        <p>The official Make.com app by OOPSpam Team. Automate spam protection with 
                          No-code automation across 1,300+ apps</p>
                      </p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
          <div class="column  is-one-third ">
            <div class="box">
              <a tabindex="0" href="https://zapier.com/apps/oopspam/integrations">
                <article class="media" height="320px">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="/assets/zapier.png" alt="Zapier logo" icon/>
                    </figure>
                  </div>
                  <div class="media-content is-clipped" style="display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical; height: 160px;">
                    <div class="content">
                      <p>
                        <strong>Zapier</strong>  <span class="tag is-success is-light">official</span>
                        <p>The official Zapier app by OOPSpam Team. Automate spam protection with 
                          No-code automation across 6,000+ apps</p>
                      </p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
          <div class="column  is-one-third ">
            <div class="box">
              <a tabindex="0" href="https://www.oopspam.com/blog/spam-protection-for-bubble.io">
                <article class="media" height="320px">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="/assets/bubble.png" alt="Bubble logo" icon/>
                    </figure>
                  </div>
                  <div class="media-content is-clipped" style="display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical; height: 160px;">
                    <div class="content">
                      <p>
                        <strong>Bubble</strong>  <span class="tag is-success is-light">official</span>
                        <p>The official Bubble.io plugin by OOPSpam Team. Add accessible, privacy-friendly spam protection to your Bubble website.</p>
                      </p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h2 class="is-size-5 has-text-black ">All integrations <small class="has-text-grey-dark" id="integration-count"></small></h2>
        <br>
        <div class="tags are-large">
          <a href="javascript:void(0)" onclick="filter(event)" id="forms" class="filter button is-light tag">Forms & Surveys</a>
          <a href="javascript:void(0)" onclick="filter(event)" id="customer-support" class="filter button is-light tag">Customer Support</a>
          <a href="javascript:void(0)" onclick="filter(event)" id="reviews" class="filter button is-light tag">Reviews</a>
        </div>
      </div>
      <div class="columns is-multiline">
      
        {% for app in appsData1 %}
          <div class="column integration-box is-one-third {% for category in app.categories %}{{ category.slug }} {% endfor %}">
            <div class="box">
              <a tabindex="0" href="spam-protection-for-{{ app.slug }}">
                <article class="media" height="320px">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="{{ app.image }}" alt="{{ app.title }} icon">
                    </figure>
                  </div>
                  <div class="media-content is-clipped" style="display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical; height: 160px;">
                    <div class="content">
                      <p>
                        <strong>{{ app.title }}</strong> <span class="tag is-danger is-light">Zapier</span> 
                      <p>{{ app.description }}</p>
                      </p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
        {% endfor %}
</div>
</div>
  </div>
</div>
</section>
<section id="get-started" class="section" style="background-color: rgb(255, 221, 87);">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-half has-text-centered">
          <p class="title has-text-black">Join a new age of spam prevention</p>
          <div class="content">
              <a class="button has-text-black is-medium is-default is-rounded button-has-shadow is-size-6-mobile"
                href="https://app.oopspam.com/Identity/Account/Register">
                Get started with free spam checks
              </a>
            </div>
        </div>
      </div>
    </div>
</section>
  {% include "partials/contact.njk" %}
</main >
  {% include "partials/footer.njk" %}
  {% include "partials/footerScript.njk" %}
  <script>
      function filter(src) {
          src.preventDefault();
          document.querySelectorAll('.filter').forEach(btn => btn.style.backgroundColor = "#f5f5f5");
          document.querySelectorAll('.integration-box').forEach(int => int.classList.remove("is-hidden"));
          const selectedCategory = src.currentTarget.id;
            src.currentTarget.style.backgroundColor = "#fcdc56";
            let count =  0;
            document.querySelectorAll(".integration-box").forEach(function (box) {
              if (!box.classList.contains(selectedCategory)) {
                box.classList.add("is-hidden");
              } else {
                count ++;
              }
            })
            document.querySelector("#integration-count").textContent = "(Total: "+ count+ ")";
        return false;
      }
      document.addEventListener("DOMContentLoaded", function(){
        document.querySelector("#integration-count").textContent =  "(Total: "+ document.querySelectorAll(".integration-box ").length + ")";
    });
  </script>
</div>
</body>


</html>
