.bg-wave {
    background-image: url('/assets/alternative/lp-top.svg'); 
    background-size: cover;
}

.is-borderless td, .is-borderless th {
    border: none;
  }
  
table tbody th {
    font-weight: 900;
}
table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
    font-weight: initial;
}

section.section, #quick-comparison {
    background-color: #fff;
}

.alternative .navigation {
    padding-bottom: 0 !important;
}

#newsletter {
    background-color: #fff;
}

.subtitle {
    line-height: 33px;
}

.alternative .button {
    border-style: solid !important;
    border-width: 1px;
    box-shadow: 2px 5px;
    border-color: black !important;
}

h1,h2 {
    font-family: 'Playfair Display', serif !important;
}
th,td {
    white-space: nowrap;
}