@font-face {
  font-family: Playfair Display;
  src: url(../assets/fonts/PlayfairDisplay-Medium.ttf);
}

#main h2 {
line-height: 33px;
}
#navigation-bar {
    /* background-color: #231f20; */
}
.get-a-key {
    color: #ffdd57;
    border-bottom-style: dotted;
    font-weight: bold;
}
.get-a-key:hover {
    background-color: #231f20 !important;
    color: white !important;
}

.feature {
    display: block;
    padding: 0.2em;
}
.button-has-shadow {
  border-style: solid !important;
  border-width: 1px;
  box-shadow: 2px 5px;
}

.is-bg-orange {
  background-color: #fcdc56 !important;
}

.is-orange-underline {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #fcdc56;
}

.alternative .navbar {
  background-color: #ffdd57;
}

a {
  background-repeat: no-repeat;
  background-size: 100% .5em;
  background-position: 0 113%;
  transition: background-size .25s ease-in;
  background-image: linear-gradient(118.8deg,#ffdd57 0,#ffdd57 100%);
}

footer a, .bottom a, .navbar a {
  background-repeat:unset;
  background-size: unset;
  background-position: unset;
  transition: unset;
  background-image: unset;
}

.has-shape-background {
  background-image: url('../assets/shape.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
details {
    padding:0.5em;
}
details p {
  line-height: 1.5;
  padding-top: 0.5em;
  text-align: left;
}
.is-big-title {
    font-size: 2rem !important;
}

h1.title,h2.is-big-title {
      font-size: 3rem !important;
      font-family: 'Playfair Display', serif !important;
}
#request .column.flex-alignitems-center {
  padding-bottom: 0rem;
}
#request .title {
  margin-bottom: 2rem;
}

.plan-price-currency {
  vertical-align: text-top !important;
}
.plan-price-amount {
  font-size: 1.50rem !important;
}
iframe {
  height: 100%;
}
 .pricing-table .pricing-plan {
  border-color: black !important;
}

.is-active .plan-header,.is-active .plan-price {
  background-color: unset !important;
}
.is-active .plan-item {
  border-bottom: .1rem solid #ffdd57 !important;
}
.pricing-table .is-active {
  background-color: #ffdd57 !important;
} 
/* .is-active .plan-price-amount {
  color: black !important;
} */
.pricing-table .is-active .button {
  background-color: initial !important;
  border-color: initial !important;
  color: initial !important;
}
#request .container .columns:nth-child(2) {
  margin-bottom: 3rem;
}
.has-margin-right {
  margin-right: 1em;
}
.flex-alignitems-center {
  align-items: center;
}
.desc {
    margin-top: 1em;
}
.docs h1, .docs h2, .docs h3, .docs h4 {
  font-family: 'Playfair Display',serif;
}
#measurements .column.is-8 p {
    padding: 0.2em;
}

#platforms .title, #use-cases .title {
    margin-bottom: 3rem;
}
.title {
  font-family: 'Playfair Display', serif;
}

.navbar-item .icon:only-child {
    margin-left: 0.20rem;
    margin-right: 0.20rem;
}
  
  svg {
    fill: currentColor;
  }
  
  .navbar {
    /* background-color:#231f20 */
  }
  
  a.has-text-white:focus, a.has-text-white:hover {
    color: #231f20 !important;
    padding-right: 1em;
  }
  
  .checkmark {
    display:inline-block;
    width: 27px;
    height: 20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: green;
    left: 8px;
    top: 16px;
}
.checkmark::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 13px;
    background-color: green;
    left: 14px;
    top: 6px;
}
  
  html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #fff;
    }
  .shadow.is-success {
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(118.8deg, #ffdd57 0%, #ffdd57 100%);
  }
  .shadow.is-success:hover {
    background-size: 100% 88%;
  }
  .shadow.is-danger {
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(118.8deg, rgba(255,74,110,.2) 0%, rgba(255,74,110,.2) 100%);
  }
  .shadow.is-danger:hover {
    background-size: 100% 88%;
  }
  .button.is-success {
    width: 100% !important;
    margin: 0.2em;
  }
  .textarea {
     height: 50%; 
     border-color:burlywood
   } 
  
   pre {
     background-color: unset !important;
   }
  .notification.is-info{
    position: relative;
    margin-top: -200px;
    margin-bottom: 124px;
  }

  #navbarBurger {
    color: black;
    background-color: #ffdd57;
  }

  .not-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }

  .has-text-strike {
    text-decoration: line-through;
  }

  .has-warning-boxshadow {
    box-shadow: 0px 0px 3px 3px #dbb41a;
  }