#main h2 {
line-height: 33px;
}
#navigation-bar {
    background-color: #231f20;
}
.get-a-key {
    color: #ffdd57;
    border-bottom-style: dotted;
    font-weight: bold;
}
.get-a-key:hover {
    background-color: #231f20 !important;
    color: white !important;
}
#faq {
    background-color: #fff;
}
.feature {
    display: block;
    padding: 0.2em;
}
.button-has-shadow {
  border-style: solid !important;
  border-width: 1px;
  box-shadow: 2px 5px;
}

.has-shape-background {
  background-image: url('../assets/shape.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
details {
    padding:0.5em;
}
details p {
  line-height: 1.5;
  padding-top: 0.5em;
  text-align: left;
}
.is-big-title {
    font-size: 2rem !important;
}

h1.title,h2.is-big-title {
      font-size: 3rem !important;
      font-family: 'Playfair Display', serif !important;
}
#request .column.flex-alignitems-center {
  padding-bottom: 0rem;
}
#request .title {
  margin-bottom: 2rem;
}
/* #measurements {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
#request {
  padding-bottom: 4rem;
  padding-top: 5rem;
} */

#request .container .columns:nth-child(2) {
  margin-bottom: 5em;
}
.has-margin-right {
  margin-right: 1em;
}
.flex-alignitems-center {
  align-items: center;
}
.desc {
    margin-top: 1em;
}
#measurements .column.is-8 p {
    padding: 0.2em;
}

#platforms .title {
    margin-bottom: 3rem;
}
.title {
  font-family: 'Playfair Display', serif;
}

.navbar-item .icon:only-child {
    margin-left: 0.20rem;
    margin-right: 0.20rem;
}
  
  svg {
    fill: currentColor;
  }
  
  .navbar {
    background-color:#231f20
  }
  
  a.has-text-white:focus, a.has-text-white:hover {
    color: #231f20 !important;
    padding-right: 1em;
  }
  
  .checkmark {
    display:inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: green;
    left: 8px;
    top: 16px;
}
.checkmark::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 13px;
    background-color: green;
    left: 14px;
    top: 6px;
}
  
  html, body {
    background-image: linear-gradient(141deg,#dfd8d9 0,#f5f5f5 71%,#fff 100%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
  .shadow.is-success {
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(118.8deg, #ffdd57 0%, #ffdd57 100%);
  }
  .shadow.is-success:hover {
    background-size: 100% 88%;
  }
  .shadow.is-danger {
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(118.8deg, rgba(255,74,110,.2) 0%, rgba(255,74,110,.2) 100%);
  }
  .shadow.is-danger:hover {
    background-size: 100% 88%;
  }
  .button.is-success {
    width: 100% !important;
    margin: 0.2em;
  }
  .textarea {
     height: 50%; 
     border-color:burlywood
   } 
  
  pre code{
    background-color: black;
    color:white;
  }
  
  .notification.is-info{
    position: relative;
    margin-top: -200px;
    margin-bottom: 124px;
  }

  #navbarBurger {
    color:white;
  }

  .not-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }